/* Global reset */
html,
body,
ul,
h1,
h2,
h3,
h4,
h5,
p {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Roboto', sans-serif;
    color: #434455;
    background-color: #FFFFFF;
}

a {
    text-decoration: none;
    color: inherit;
}

ul {
    list-style: none;
}

img {
    display: block;
    max-width: 100%;
}

/* Visually hidden */
.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0;
}

.container {
    max-width: 1158px;
    width: 100%;
    margin: 0 auto;
    padding: 0 15px;
}

.section {
    padding-top: 120px;
    padding-bottom: 120px;
}

.section-first {
    padding: 0;
}

/* Header styles */
.header {
    background-color: #FFFFFF;
    border-bottom: 1px solid #e7e9fc;
    box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 15px;
    margin: 0 auto;
    max-width: 1158px;
}

.nav {
    display: flex;
    align-items: center;
    color: #2e2f42;
}

.logo {
    font-family: 'Raleway', sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
    margin-right: 76px;
}

.logo-color {
    color: #2e2f42;
}

.nav-list {
    display: flex;
    gap: 40px;
}

.nav-link {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2e2f42;
    font-weight: 500;
    display: block;
    padding: 24px 0;
    position: relative;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.nav-link:first-child {
    color: #404bbf;
}

.nav-link::after {
    content: '';
    display: block;
    width: 100%;
    height: 4px;
    background-color: #404bbf;
    position: absolute;
    bottom: -1px;
    left: 0;
    border-radius: 2px;
    transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.nav-link:hover,
.nav-link:focus {
    color: #404bbf;
}

.address {
    font-style: normal;
}

.address-item {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

.address-link {
    color: #434455;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.address-link:hover,
.address-link:focus {
    color: #404bbf;
}

.address-list {
    display: flex;
    gap: 40px;
}

/* Intro styles */
.intro {
    height: 600px;
    background: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url('images/hero.jpg') no-repeat center/cover;
    color: white;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    max-width: 1440px;
    margin: 0 auto;
}

.intro-title {
    font-size: 56px;
    font-weight: 700;
    line-height: 1.07;
    letter-spacing: 0.02em;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 48px;
    color: #ffffff;
    max-width: 496px;
}

.intro-button {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #ffffff;
    cursor: pointer;
    margin: 0 auto;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    display: block;
    min-width: 169px;
    height: 56px;
    background-color: #4d5ae5;
    cursor: pointer;
    border-radius: 4px;
}

.intro-button:hover,
.intro-button:focus {
    background-color: #404bbf;
}

.hero {
    background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url('images/hero.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    max-width: 1440px;
    margin: 0 auto;
    height: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    text-align: center;
}

.hero .container {
    padding: 20px;
}

.hero-title {
    font-size: 36px;
    margin-bottom: 20px;
}

.hero-button {
    background-color: #007bff;
    border: none;
    color: white;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/* Основні стилі для Features секції */
.intro.section.section-first {
    padding: 60px 0;
    /* Додати відступ зверху та знизу */
    background-color: #f8f9fa;
}

.features-items {
    display: flex;
    justify-content: space-between;
}

.feature-item {
    background-color: white;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.feature-icon {
    width: 64px;
    height: 64px;
    margin-bottom: 20px;
}

/* section "Our Team" */
.team {
    text-align: center;
}

.section-title {
    font-size: 32px;
    font-weight: 700;
    margin-bottom: 40px;
}

.team-members {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.team-member {
    background-color: #f4f4fd;
    border: 1px solid #e7e9fc;
    border-radius: 8px;
    padding: 24px;
    max-width: 250px;
    width: 100%;
    margin-bottom: 20px;
    text-align: center;
}

.team-photo {
    border-radius: 8px;
    /* Забираємо округлення для фото */
    width: 100%;
    height: auto;
    margin-bottom: 16px;
}

.team-name {
    font-size: 18px;
    font-weight: 700;
    margin-bottom: 8px;
}

.team-position {
    font-size: 14px;
    color: #777;
    margin-bottom: 16px;
}

.social-icons {
    display: flex;
    justify-content: center;
    gap: 10px;
}

.social-icon {
    width: 40px;
    height: 40px;
    background-color: #4d5ae5;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 0.3s;
}

.social-icon:hover {
    background-color: #404bbf;
}

.icon {
    width: 20px;
    height: 20px;
    fill: #ffffff;
}

/* Portfolio styles */
.portfolio-container {
    padding-top: 120px;
    padding-bottom: 120px;
}

.portfolio-title {
    font-size: 36px;
    font-weight: 700;
    line-height: 1.11;
    color: #2e2f42;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    margin-bottom: 72px;
}

.portfolio-list {
    display: flex;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 48px;
}

.portfolio-item {
    background-color: #ffffff;
    flex: 1 1 calc(33.33% - 24px);
}

.portfolio-img {
    margin-bottom: 10px;
    width: 100%;
    height: auto;
}

.portfolio-text-container {
    padding: 32px 16px;
    border: 1px solid #e7e9fc;
    border-top: none;
    text-align: center;
}

.portfolio-project-title {
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    margin-bottom: 8px;
}

.portfolio-project-category {
    font-size: 16px;
    line-height: 1.5;
    color: #434455;
}

/* Стилі для футера */
.footer {
    background-color: #2e2f42;
    padding: 100px 0;
    text-align: center;
}

.footer-logo {
    font-family: 'Raleway', sans-serif;
    font-size: 24px;
    font-weight: 700;
    color: #4d5ae5;
    margin-bottom: 16px;
}

.footer-logo-color {
    color: #f4f4fd;
}

.footer-description {
    font-size: 16px;
    line-height: 1.5;
    color: #F4F4FD;
    max-width: 264px;
    margin: 0 auto 40px;
}

.social-icons {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.social-icon {
    width: 40px;
    height: 40px;
    background-color: #4d5ae5;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 0.3s;
}

.social-icon:hover {
    background-color: #404bbf;
}

.icon {
    width: 24px;
    height: 24px;
    fill: #ffffff;
}